<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogram</title>
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="/static/css/explor.css" th:href="@{/css/explor.css}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <a th:href="@{/}" class="logo"><img src="/static/images/logo.jpg" th:src="@{/images/logo.jpg}" alt=""></a>
            <nav class="navi">
                <ul class="navi-list">
                    <li class="navi-item"><a th:href="@{/}"><i class="fas fa-home"></i></a></li>
                    <li class="navi-item"><a th:href="@{/explor}"><i class="far fa-compass"></i></a></li>
                    <li class="navi-item"><a th:href="@{/user/profile/{id}(id = ${user.id})}"><i class="far fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="popular">
        <div class="container">
            <div class="popular-gallery">
                <div class="p-img-box" th:if="${not #lists.isEmpty(attachments)}" th:each="item : ${attachments}" th:data-id="${item.register.id}">
                    <img th:src="|/upload/${item.savedFilename}|" alt="">
                </div>
            </div>
        </div>
    </main>



    <footer>
        <div class="container">
            <ul>
                <li><a href="#a">소개</a></li>
                <li><a href="#a">블로그</a></li>
                <li><a href="#a">채용 정보</a></li>
                <li><a href="#a">도움말</a></li>
                <li><a href="#a">API</a></li>
                <li><a href="#a">개인정보처리방침</a></li>
                <li><a href="#a">약관</a></li>
                <li><a href="#a">인기 계정</a></li>
                <li><a href="#a">해시태그</a></li>
                <li><a href="#a">위치</a></li>
            </ul>
            <div class="copy">
                <p>© 2020 Photogram from There Programing</p>
            </div>
        </div>
    </footer>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

    <script th:inline="javascript">
        $('.p-img-box').on('click', function(e) {
            e.preventDefault();
            let id = $(this).data('id');
            location.href = '/user/profile/' + id;
        });
    </script>

</body>

</html>
